.fullpost {
  margin-top: -67px;
  width: 720px;

  &__loader {
    height: 1024px;
  }
  &__loader-block {
    margin: 140px auto 95px;
  }

  &__header {
    position: relative;
    width: 100%;
    height: 452px;
    padding: 129px 58px 130px 72px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0, 0.5);
      z-index: 2;
    }
    
  }
  &__header-inner {
    position: relative;
    z-index: 3;
  }
  &__header .post__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #c1c1c1;
  }
  &__header .fullpost__title {
    font-weight: 800;
    font-size: 42px;
    line-height: 52px;
    color: #ffffff;
    margin-bottom: 14px;
  }
  &__header .fullpost__descr {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }

  &__data {
    margin-bottom: 9px;
  }

  &__views {
    padding-left: 25px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 2px;
      left: 0;
      width: 17px;
      height: 12px;
      background-image: url('../../assets/img/icon-view.svg');
    }
  }
  &__content {
    padding: 37px 64px 250px 72px;
  }
  &__text {
    margin-bottom: 37px;
  }
  p {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    margin: 0;
    padding: 0;
    margin-bottom: 27px;
  }
  a {
    color: #22af5d;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 800;
    margin: 0;
    margin-bottom: 21px;
  }
  h1 {
    font-size: 36px;
    line-height: 28px;
  }

  h2 {
    font-size: 30px;
    line-height: 28px;
  }

  h3 {
    font-size: 26px;
    line-height: 28px;
  }

  h4 {
    font-size: 22px;
    line-height: 28px;
  }

  h5 {
    font-size: 18px;
    line-height: 28px;
  }

  blockquote {
    display: block;
    padding: 25px 10px 25px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #f7f7f7;
    border-left: 4px solid $main-color;
  }
}
