.fullpost {
  color: #000000;
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    margin: 0;
    padding: 0;
    margin-bottom: 27px;
  }
  a {
    color: #22af5d;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 800;
    margin: 0;
    margin-bottom: 21px;
  }
  h1 {
    font-size: 36px;
    line-height: 28px;
  }

  h2 {
    font-size: 30px;
    line-height: 28px;
  }

  h3 {
    font-size: 26px;
    line-height: 28px;
  }

  h4 {
    font-size: 22px;
    line-height: 28px;
  }

  h5 {
    font-size: 18px;
    line-height: 28px;
  }

  blockquote {
    display: block;
    padding: 25px 10px 25px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #f7f7f7;
    border-left: 4px solid $main-color;
  }
}
