.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $outline;
  border-left: 4px solid transparent;

  padding: 26px 30px;

  &.post--active {
    background: rgba(138, 164, 183, 0.03);
    border-left: 4px solid #13315e;
  }

  &__title-link {
    text-decoration: none;
    cursor: pointer;
  }
  &__title {
    @extend %title-font;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 10px;
  }
  &__text {
    max-width: 460px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #898c90;
    margin: 0;
    padding: 0;
    padding-bottom: 18px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  &__date,
  &__views {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #c1c1c1;
  }

  &__views {
    padding-left: 25px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 2px;
      left: 0;
      width: 17px;
      height: 12px;
      background-image: url('../../assets/img/icon-view.svg');
    }
  }
  &__date {
    margin-right: 21px;
  }

  &__img {
    width: 165px;
    height: 165px;
    border-radius: 15px;
    margin-left: 40px;
    object-fit: cover;
  }

  &__edit-btn,
  &__remove-btn {
    font-size: 14px;
    text-decoration: underline;
    color: $grey-text;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  &__edit-btn:hover,
  &__remove-btn:hover,
  &__edit-btn:focus,
  &__remove-btn:focus {
    color: $black;
  }
}

@media (max-width: 500px) {
  .post {
    &__img {
      display: none;
    }
  }
}
