html {
  height: 100%;

  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $black;
  overflow-x: hidden;

  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding-right: 100px;
  margin: 0 auto;
  //overflow: hidden;
}

.container {
  display: flex;
  &__inner {
    order: 2;
    border-left: $outline;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.spinner {
  width: 620px;
  margin: 80px auto;
  text-align: center;

  &__icon {
    animation: rotate 1s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
