$black: #373737;
$grey-text: #898c90;
$main-color: #13315e;
//$main-color: #c2185b;
$accent-color: #ffdf36;

$outline: 1px solid #f9f9f9;

%title-font {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #080b0e;
}
